div#content {
    margin: 0 2em auto;
    width: calc(100% - 4em);
    margin-top: 10%;
}
#question_header {
    text-align: center;
    font-size: 2em;
}
#question_body {
    margin: 0 auto;
    width: fit-content;
}
#question_body input[type="text"],
#question_body input[type="email"],
#question_body input[type="number"] {
    width: 8em;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
    font-size: 1.5em;
    padding: 8px;
    color: #444444;
}
#question_body input::placeholder {
    color: #dfdfdf;
}
#question_body input:hover,
#question_body input:focus {
    border-color: #acacac;
}
#question_body button {
    border-radius: 100px;
    border-color: #dfdfdf;
    color: #acacac;
    font-size: 1em;
    min-width: 40px;
    width: fit-content;
    height: 40px;
    padding: 0.5em 1em;
    margin-left: 12px;
    outline: none;
}
#question_body button:hover {
    border-color: #acacac;
    color: #797979;
    cursor: pointer;
}
#question_body ul {
    padding: 0;
}
#question_body ul li {
    display: inline-block;
    margin: 2em;
    padding: 1em;
    border-radius: 8px;
    color: #444;
}
#question_body ul li:hover {
    color: #acacac;
}
#question_body form.multiple button {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
#question_body form.multiple li {
    display: inline-block;
    margin: 0.5em;
}
